[Unit]
Description=API Node de la Sesion 06
Requires=mysql.service
After=network.target mysql.service

[Service]
Type=simple
User=rgap
WorkingDirectory=/home/rgap/Escritorio/curso_cloud/sesion06/demo
ExecStart=/usr/bin/node app.js
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
